.issue-container {
    display: flex;
    flex-direction: column;
}

.issue-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.issue-body {

}

.issue-title {
    font-size: 24px;
    color: #008080;
    cursor: pointer;
}
.issue-title:hover, .issue-title:active {
    text-decoration: underline;
}

.issue-subtitle {
    font-size: 16px;
    color: #60739F;
}

.comments-container {
    display: flex;
    flex-direction: column;
}
.comments-title {
    font-size: 24px;
    color: #008080;
    margin: 0 24px 16px;
}
